.ImageGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding-top: 25px;
}

.ImageGallery li {
  border-radius: 25px;
  width: 400px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.ImageGallery li:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
